* {
   margin:0; 
}

body{
    background-color: rgb(255, 255, 255);
}

.menu{
    padding: 2%;
    background-color: #57CDF3;
    list-style: none;}

.menu ul li {
    display: inline;}

 .menu ul li a { 
    display: inline-block; 
    font-size: 14pt; 
    color: white;
    padding: 20px; /*tamanho dos item */
    text-decoration: none;}

h1{
    margin-bottom: 5%
}
.conteudo{
    margin-top:5%;
    margin-left: 2%;
    margin-right: 2%; }

.caixa1{
    background-color:#57CDF3;
    padding: 2%;
    float: left;
    width: 42%;
    height: 5%;
}

.caixa2{
    background-color:#aff357;
    padding: 2%;
    float: left;
    width: 42%;
    height: 5%;
}

